<html>
  <head>
    <%= javascript_include_tag "jquery-validation/jquery.js"%>
    <%= javascript_include_tag "jquery-validation/jquery.validationEngine.js" %>
    <%= javascript_include_tag "jquery-validation/jquery.validationEngine-en.js" %>
    <%= stylesheet_link_tag "jquery-validation/validationEngine.jquery.css" %>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lets Meet</title>
    

    <script type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function(){
        jQuery("#changepwd").validationEngine();
      });
    </script>
  </head>
<body>

<div style="padding:0px 0px 10px 0px ;font-size:15px; text-align:center;">
  <% if flash[:alert] %>
    <p class="flash-error;font-size:55px;"><%= flash[:alert] %></p>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"><%= flash[:notice] %></p>
  <% end %>
</div>

<div style="margin:auto; width:400px;font-size:14px; border:2px solid #000;padding:20px 0px 10px 0px;">

<div style="float:right;"> <%= link_to "Logout", logout_path(:value=>"destroy") %></div>



<p style="padding:0px 0px 0px 0px ; font-size:20px; text-align:center;"><b>Reset Password</b></p>
  <%= form_for @user,:name=>"user",:url=> {:action =>"change_password"},:html =>{:id =>'changepwd', :multipart => true} do |f| %>
	<div style="text-align:center;">
	<p>      
            Old Password
	<div>
            <%= password_field_tag 'old_password', params[:old_password], :size => 25, :class => 'validate[required],length[6,20]' %>
	</div></p>
            <p >
            New Password
	<div>
            <%= password_field_tag 'password', params[:password], :size => 25, :class => 'validate[required],length[6,20]' %>
	</div></p>
           
            <p>
            Confirm password
	<div>
            <%= password_field_tag 'password_confirmation',params[:password_confirmation], :size => 25, :class => 'validate[required],length[6,20]' %></p>
	</div>
        <div style="padding:20px 0px 20px 0px;">
        <%= submit_tag 'Submit' %>
	<input type="reset" value="Reset" />
    	</div>
</div>
</div>
<% end %>
</div>
</body>
</html>
